*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: normal;
}
#header{
    height: 100vh;
    background-image: url(bg.png);
    background-position: right;
    background-size: auto;
}      
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 10px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
    color: white;
}
p{
    color: white;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30%;
    border-bottom: 1px solid  white;
    z-index: 10;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.nav-btn
{
    background: orange;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}
.header{
    width: 100%;
    color: black;
    height: 100%;
    display: flex;
    justify-content: bottom;
    flex-direction: column;
}
.btn-container{
    background: orange;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}
.btn-container2{
    color: transparent;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}
.top-left {
    color: white;
    position: absolute;
    top:  8px;
    left: 16px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.user-img{
    width: 80%;
    max-width: 500px;
    position: absolute;
    right: 13%;
    bottom: 0;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: black;
    z-index: 2;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(95, 42, 11);
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 40%;
}
.about-right-col{
    flex-basis: 50%;
}
.about-right-col.about-btn{
    color: transparent;
}
#top-collectins{
    background-image: url(bg.png);
    background-position: right;
    background-size: auto;
}
.collections img{
    width: 30%;
}
#top-creaters{
    background-color: black;
}
.creaters img{
       width: 22%;
}
